WXF Car Rental Service Part II/Client/Service References/HttpCarRentalService/RentalReservationService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CarRentalService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CarRentalService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ReservationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CorrelationId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dates" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" type="xs:int" />
      <xs:element minOccurs="0" name="VehicleClass" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReservationInfo" nillable="true" type="tns:ReservationInfo" />
</xs:schema>